body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#game {
  max-width: 1280px;
  margin: auto;
}

.game-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.peg {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: solid black 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0 5px 0 5px;
}

.peg:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#color-selection {
  display: flex;
  justify-content: center;
}

#color-selection button {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: solid black 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0 5px 0 5px;
}

#color-selection button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.code-pegs {
  margin: 10px;
}

.key-pegs {
  margin: 10px;
}

h1 {
  color: #2FB2CB;
  text-align: center;
  font-size: 3em;
}

.error-message {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}

#username-input {
  margin: 5px;
  border-radius: 8px;
  height: 25px;
  padding: 10px;
  border: solid black 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.username-button {
  margin: 5px;
  height: 45px;
  padding: 10px;
  border-radius: 8px;
  background-color: #2FB2CB;
  color: white;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.username-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
}

#leaderboard-button-container {
  display: flex;
  justify-content: center;
  margin: 0.67rem;
}

.game-end-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
